# ファイルパスとアカウント名のペアで定義する
# ファイルパスには、Globが利用可能
# ファイル種別やディレクトリごとに、異なるコードオーナーも設定可能
# アカウントには、Teamも指定可能
* @rfjmn

# 特定のファイル種別のみコードオーナーをTeamに設定する
# *.txt @example-org/octocat-team

# 特定ディレクトリ配下のコードオーナーを複数アカウントへ設定する
# .github/workflow/ @github @example-org/octocat-team

# 記述順は重要である
# CODEOWNERSファイルでは、最後にマッチした定義を優先する
# 最初にリポジトリ全体のコードオーナーを記述し、その後で個別に指定すればフォールバックされる

# Teamの記述方法
# 個人アカウント：@アカウント名
# Team：@Organization名/Team名
